<p id="notice">
  <%= notice %>
</p>

<nav>
  <div class="nav-wrapper">
    <div class="deep-purple">
      <a href="#" class="brand-logo center">RegBikeCount</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#tabela"><b>Registros</b></a></li>
        <li><a href="#projeto"><b>Projeto</b></a></li>
        <li><a href="#sobre"><b>Sobre</b></a></li>
      </ul>
    </div>
  </div>
</nav>

<table class="highlight">
  <div class="parallax-container">
    <div class="parallax">
      <img src="/assets/fundo_inicial2.jpg">
    </div>
  </div>
  <thead>
    <tr>
      <th>Dia</th>
      <th>Hora</th>
      <th>Tipo</th>
      <th>Peso (Aproximado)</th>
    </tr>
  </thead>

  <tbody>
    <% @step_counters.each do |step_counter| %>
      <tr>
        <td><%= step_counter.date.strftime('%d') %></td>
        <td><%= step_counter.date.strftime('%H:%M') %></td>

        <td>
          <div class="chip">
            <%= picture_kind(step_counter.kind) %>
          </div>
        </td>
        <td><%= step_counter.pressure %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<nav>
  <div class="nav-wrapper">
    <div class="deep-purple">
      <a href="#" class="brand-logo Left">Projeto...</a>
      <a name="projeto"></a>
    </div>
  </div>
</nav>


<div class="parallax-container">
  <div class="parallax">
    <div class="apresentation-group-project">
      <div class="row">
        <div class="col s6 offset">
          <p>
            <br/>
            <b>
              O projeto surgiu pela Inventto, e está servindo como projeto de estágio para mim (Will).
              <br/>
              Espero que essa aplicação seja muito útil a você que está fazendo uso, espero que possa aproveitar ao máximo e desfrutar do resultado de todo o esforço e estudo que eu e o pessoal da Inventto investimos nesse trabalho.
              <br/>
              <br/>
              Com a missão de lhe fornecer informações sobre o uso das ciclovias e demonstrar que existe interesse em automação aqui na cidade, e que ela pode ser aplicada em qualquer lugar é que fizemos a aplicabilidade desse processo automatizado de registros de ciclistas/pedrestres.
              <br/>
              Bom proveito =)
              <br/>
              <br/>
              Willian Ribeiro Ludvig
            </b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<nav>
  <div class="nav-wrapper">
    <div class="deep-purple">
      <a href="#" class="brand-logo Left">Sobre...</a>
      <a name="sobre"></a>
    </div>
  </div>
</nav>

<div class="parallax-container">
  <div class="imagens">
    <div class="apresentation-group">
      <div class="row">
        <div class="col s6 offset">
          <p>
            <b>
              Que tal ter um contador de bicicletas em sua cidade? <br/>
              Legal né?
              <br/>
              Pois bem, isso é possível graças ao empreendedorismo e ao esforço de algumas pessoas.
              <br/>
              Pessoas essas com foco na inovação e vontade de tornar a cidade cada vez melhor para você, que circula de bicicleta ou a pé mesmo, afinal saúde não se mede, se avalia, ou você tem ou não tem.
              <br/>
              E por que não ter saúde?
              <br/>
              A cada dia mais e mais pessoas circulam com carros pelas grandes cidades, e aqui em Beltrão mesmo, com isso cada vez temos mais congestionamentos, mais riscos e menos tempo.
              <br/>
              Pensando nisso foram criadas as ciclovias, para que as pessoas possam desfrutar de suas atividades fisícas com mais segurança, e por que não reduzir o uso do automóvel e aumentar o uso da bicicleta?
              <br/>
              Pense nisso...
              <br/>
              <br/>
              Willian Ribeiro Ludvig
            </b>
          </p>
        </div>
        <div class="col s6 offset">
          <br/>
          <div class="logo_inventto">
            <a href="http://invent.to/"><img src="/assets/inventto_new_black.png"></a>
          </div>
          <br/>
          <div class="logo_unisep">
            <a href="http://www.unisep.edu.br/abertura.php"><img src="/assets/unisep_logo_black.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
