<%= form_for(@registrosbikecount) do |f| %>
  <% if @registrosbikecount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registrosbikecount.errors.count, "error") %> prohibited this registrosbikecount from being saved:</h2>

      <ul>
      <% @registrosbikecount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dia %><br>
    <%= f.date_select :dia %>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f:label %>
  </div>
  <div class="field">
    <%= f.label :pedestre %><br>
    <%= f.number_field :pedestre %>
  </div>
  <div class="field">
    <%= f.label :ciclista %><br>
    <%= f.number_field :ciclista %>
  </div>
  <div class="field">
    <%= f.label :velocidade %><br>
    <%= f.text_field :velocidade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
