<p id="notice"><%= notice %></p>

<p>
  <strong>Dia:</strong>
  <%= @registrosbikecount.dia %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @registrosbikecount.hora %>
</p>

<p>
  <strong>Pedestre:</strong>
  <%= @registrosbikecount.pedestre %>
</p>

<p>
  <strong>Ciclista:</strong>
  <%= @registrosbikecount.ciclista %>
</p>

<p>
  <strong>Velocidade:</strong>
  <%= @registrosbikecount.velocidade %>
</p>

<%= link_to 'Edit', edit_registrosbikecount_path(@registrosbikecount) %> |
<%= link_to 'Back', registrosbikecounts_path %>
